body{
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header {
  height: 100%;
  width: 100%;
  background-color: #333;
  padding : 10px;

}

.Color {
  color: white;
  text-decoration:none;
  font-weight: 600;
}

.Color:hover{
  color: darkcyan;
}

h1{
  color :rgb(39, 148, 148);
  font-size: 7rem;
  margin-top: 18.75rem;  
}

.galerie {
  min-height: 85vh;
}

.button {
  cursor: pointer;
  outline: none;
}

.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: rgb(39, 148, 148);
    font-size: 14px;
    border-color: rgb(39, 148, 148);
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    
}

.outline.a {
  text-decoration: none;
}

.outline:hover {
    color: white;
    background: rgb(39, 148, 148);
    border-color: white;
    transition: all 0.2s linear;
}

.outline:active {
    border-radius: 22px;
}

.contact {
  min-height: 85vh;
}


main {
  
  margin: 0px;
  padding: 0px;
  min-height: 550px;
 
}


.submit{
  text-align: center;
}

.bordure {
  border-radius: 4px;
}

footer {
  background-color: #333;
  color: aliceblue;
  padding: 10px;
  text-align: center;

}


@media (max-width: 575.98px) { 
  .brand {
    width: 60px;
  }
}

@media (max-width: 767.98px) {  }

@media (max-width: 991.98px) {
  
}

@media (max-width: 1199.98px) {
  
 }